.section {
  margin-top: clamp(2rem, 2rem + 3.3333vw, 5rem);
}

.description {
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  color: var(--clr-darkish-gray);
  margin-top: 1.25em;
  max-width: 60rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 24rem) {
  .content {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}

@media screen and (min-width: 48rem) {
  .content {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .content {
    gap: 1.75rem;
  }
}

@media screen and (min-width: 60rem) {
  .content {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
  }
}
