.description {
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  color: var(--clr-gray);
  max-width: 60rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 24rem) {
  .content {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}

@media screen and (min-width: 48rem) {
  .content {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media screen and (min-width: 60rem) {
  .content {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}
