.button {
  position: relative;
  font-family: var(--ff-headings);
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.75rem;
  background-color: transparent;
  color: var(--clr-white);
  cursor: pointer;
  overflow: hidden;
  transition: transform 250ms ease-in;
  outline-offset: 4px;
}

.button::before {
  --clr-border: var(--clr-dark);
  --clr-glow: var(--clr-white);

  content: '';
  position: absolute;
  inset: 0;
  background-image: conic-gradient(
    from var(--angle),
    var(--clr-border) 0%,
    var(--clr-glow) 5%,
    var(--clr-border) 10%
  );
  border-radius: inherit;
  animation: animateGradient 3s linear infinite;
  z-index: var(--z-index-background);
}

.button::after {
  content: '';
  position: absolute;
  display: block;
  inset: 0.125rem;
  background-color: var(--clr-dark);
  border-radius: inherit;
  z-index: var(--z-index-background);
  transition: background-color 300ms ease;
}

.button:hover {
  transform: scale(0.95);
}

.button:hover::before {
  --clr-border: var(--clr-dark-gray);
  /* background-color: var(--clr-white); */
}

.button:hover::after {
  background-color: var(--clr-dark-gray);
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animateGradient {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
