.card {
  height: 100%;
  border: 1px solid #eeebeb;
  border-radius: 0.5rem;
  background-color: #ffffff;
  transition:
    box-shadow 250ms ease,
    transform 250ms ease-in-out;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-4px);
}

.card:hover .image {
  transform: scale(1.05);
}

.figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  transition: transform 500ms ease-in-out;
}

.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.75rem;
}

.title {
  font-family: var(--ff-headings);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-lg);
  color: var(--clr-midnight-blue);
  margin-bottom: 0.5rem;
}

.description {
  font-family: var(--ff-text);
  font-size: var(--fs-xs);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--clr-darkish-gray);
  margin-bottom: 3rem;
}

.button {
  text-decoration: none;
  align-self: start;
  padding: 0.6875em 1.125em;
  background-color: var(--clr-dark-gray);
  font-size: var(--fs-xs);
  color: var(--clr-white);
  margin-top: auto;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition:
    background-color 250ms ease,
    color 250ms ease;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: var(--clr-dark);
    color: pink;
  }
}

.button:focus {
  background-color: var(--clr-dark);
  outline-offset: 3px;
}
