.link {
  display: inline-block;
  font-family: var(--ff-text);
  text-decoration: none;
  color: var(--clr-neutral-300);
  border-radius: 50vw;
  border: 1px solid var(--clr-neutral-300);
  overflow: hidden;
  outline-offset: 3px;
}

.link:active {
  border-color: var(--clr-neutral-400);
}

.link:active .iconWrapper {
  transform: scale(0.8);
}

.content {
  --padding: 1rem;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  position: relative;
  padding: var(--padding);
  width: calc(var(--padding) + var(--fs-lg));
  height: calc(var(--padding) + var(--fs-lg));
  font-size: var(--fs-md);
  border-radius: 50%;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
  transform-origin: center;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1;
  color: var(--clr-neutral-300);
  transform: translate(-50%, -50%);
}

.text {
  font-size: var(--fs-sm);
  font-weight: var(--fw-light);
  width: 0;
  transition: width 200ms ease-in-out 200ms;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover .text {
    width: calc(var(--length) * 1ch);
  }

  .link:hover .iconWrapper {
    transform: scale(0.85);
  }
}
