.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: clamp(8rem, 8rem + 0.889vw, 16rem);
  padding-bottom: clamp(8rem, 8rem + 0.889vw, 16rem);
  margin-top: var(--header-height);
  width: 100%;
}

.contentWrapper {
  position: relative;
}

.content {
  position: relative;
  margin: 0 auto;
  z-index: var(--z-index-foreground);
}

.headline {
  font-size: var(--fs-hero);
  font-weight: var(--fw-bold);
  font-family: var(--ff-headings);
  color: var(--clr-neutral-700);
  line-height: 1.1;
}

.name {
  background: linear-gradient(
    90deg,
    var(--clr-purple-200),
    var(--clr-teal-200),
    var(--clr-blue-100)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.description {
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-md);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--clr-neutral-500);
  max-width: 48rem;
  margin: 1.25rem auto 2rem;
}

.decorations {
  position: absolute;
  display: none;
  inset: 0;
}

.star1 {
  --width: clamp(4.4rem, 12vw, 11rem);
  --height: clamp(4.4rem, 12vw, 11rem);
  --facing: 1;
  --fill: var(--clr-red);
  --delay: -300ms;

  position: absolute;
  top: calc(var(--height) * -1);
  left: -2%;
}

.star2 {
  --width: clamp(4rem, 10vw, 9rem);
  --height: clamp(4rem, 10vw, 9rem);
  --facing: -1;
  --fill: var(--clr-teal-300);
  --delay: -500ms;

  position: absolute;
  top: calc(var(--height) * -1);
  right: calc(min(2vw, var(--width)) * -1);
}

.star3 {
  --width: clamp(2.88rem, 8vw, 7.2rem);
  --height: clamp(2.88rem, 8vw, 7.2rem);
  --facing: 1;
  --fill: var(--clr-purple-200);
  --delay: 0ms;

  position: absolute;
  bottom: calc(var(--height) * -1.5);
  left: 0;
}

.star4 {
  --width: clamp(5.04rem, 13vw, 12.6rem);
  --height: clamp(5.04rem, 13vw, 12.6rem);
  --facing: -1;
  --fill: var(--clr-teal-100);
  --delay: -1100ms;

  position: absolute;
  bottom: calc(var(--height) * -1.5);
  right: calc(min(2.8vw, var(--width)) * -1);
}

@media screen and (min-width: 20rem) {
  .star3 {
    bottom: calc(var(--height) * -0.5);
    left: 0;
  }

  .star4 {
    bottom: calc(var(--height) * -0.2);
    right: calc(min(3vw, var(--width)) * -1);
  }
}

@media screen and (min-width: 36rem) {
  .star1 {
    left: 0;
  }

  .star2 {
    top: calc(var(--height) * -0.8);
    right: -4%;
  }

  .star3 {
    left: 5%;
  }

  .star4 {
    bottom: calc(var(--height) * -0.5);
    right: 10%;
  }
}

@media screen and (min-width: 48rem) {
  .star1 {
    top: calc(var(--height) * -0.7);
    left: 10%;
  }

  .star2 {
    right: 15%;
  }

  .star3 {
    left: 10%;
  }

  .star4 {
    right: 11%;
  }
}

@media screen and (min-width: 60rem) {
  .star1 {
    left: 12%;
  }

  .star3 {
    left: 15%;
    bottom: calc(var(--height) * -1);
  }
}

@media screen and (min-width: 80rem) {
  .star3 {
    left: 20%;
  }

  .star4 {
    right: 15%;
  }
}

@media (prefers-reduced-motion: no-preference) and (min-width: 20rem) {
  .decorations {
    display: block;
  }
}
