.section {
  margin-top: clamp(2rem, 2rem + 3.3333vw, 5rem);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.description {
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--clr-darkish-gray);
  margin-top: 1.25em;
  max-width: 60rem;
}

.description ~ .description {
  margin-top: 1.25em;
}

.list {
  --icon-size: clamp(2rem, 2rem + 1.1111vw, 3rem);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--icon-size), 1fr));
  gap: 1.5rem;
}

.listItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 200ms ease-in-out,
    transform 250ms ease-in-out;
}

.listItem::before {
  content: '';
  position: absolute;
  inset: -0.5rem;
  border-radius: 0.5rem;
  transition: background-color 200ms ease-in-out;
  pointer-events: none;
}

.listHovered .listItem {
  opacity: 0.2;
}

.listItem.highlight {
  opacity: 1;
}

.listItem:hover {
  transform: translateY(-4px);
}

.listItem:hover::before {
  background-color: #34d9ef1b;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

@media screen and (min-width: 80rem) {
  .contentWrapper {
    flex-direction: row;
    align-items: center;
  }

  .details {
    margin: 1.25rem 0;
  }

  .skillsDisplay {
    min-width: 45%;
  }
}
