section.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.title {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  font-size: var(--fs-lg);
  color: var(--clr-midnight-blue);
}

@media screen and (min-width: 48rem) {
  .wrapper.row {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .wrapper.row .title {
    min-width: 35%;
    max-width: 35%;
  }

  .wrapper.row .content {
    flex-grow: 1;
  }
}
