:root {
  --clr-red: #ef4770;
  --clr-yellow: #c3ec50;

  --clr-teal-100: #0dd6c3;
  --clr-teal-200: #15e2e2;
  --clr-teal-300: #34daef;
  --clr-teal-transparent: #34d9ef1b;

  --clr-purple-100: #f3e4ff;
  --clr-purple-200: #ae75db;
  --clr-purple-300: #815c7f;

  --clr-blue-100: #1700fe;
  --clr-blue-200: #073758;

  --clr-neutral-100: #fdfbfb;
  --clr-neutral-200: #eeebeb;
  --clr-neutral-300: #9b9c9c;
  --clr-neutral-400: #676a6a;
  --clr-neutral-500: #4b4b4b;
  --clr-neutral-600: #2c2c2c;
  --clr-neutral-700: #161615;

  --ff-headings: 'Poppins', sans-serif;
  --ff-text: 'Inter', sans-serif;

  --fs-xxs: clamp(0.75rem, 0.75rem + 0.1389vw, 0.875rem);
  --fs-xs: clamp(0.8125rem, 0.8125rem + 0.2083vw, 1rem);
  --fs-sm: clamp(0.875rem, 0.875rem + 0.2778vw, 1.125rem);
  --fs-md: clamp(0.9375rem, 0.9375rem + 0.3472vw, 1.25rem);
  --fs-lg: clamp(1rem, 1rem + 0.5556vw, 1.5rem);
  --fs-xl: clamp(1.125rem, 1.125rem + 0.9722vw, 2rem);
  --fs-xxl: clamp(2rem, 2rem + 1.1111vw, 3rem);
  --fs-hero: clamp(2.25rem, 2rem + 3.0555vw, 5rem);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --z-index-background: -1;
  --z-index-default: 0;
  --z-index-foreground: 1;
  --z-index-overlay: 2;
  --z-index-header: 10;
  --z-index-menu: 100;

  --section-gap: clamp(3rem, 3rem + 5.5555vw, 8rem);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--ff-text);
  background-color: var(--clr-neutral-100);
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

#root {
  overflow-x: hidden;
}
