.paragraph {
  font-family: var(--ff-text);
  font-size: var(--fs-sm);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--clr-neutral-500);
}

.paragraph + .paragraph {
  margin-top: 1rem;
}

.paragraph.col {
  max-width: 60rem;
}

.figure {
  margin: 0;
}

figure.figureContainer,
.figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.videoWrapper {
  margin: 2rem 0 0 0;
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.picture {
  padding: 0;
  margin: 0;
}

.image {
  width: var(--width, 100%);
  max-width: var(--max-width, 100%);
}

* + .listWrapper {
  margin-top: 1.5rem;
}

.listTitle {
  font-family: var(--ff-headings);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-md);
  color: var(--clr-purple-300);
}

.list {
  padding: 0.75rem 1.5rem;
  list-style-type: disc;
}

.listItem {
  font-family: var(--ff-text);
  font-size: var(--fs-sm);
  line-height: 1.5;
  text-wrap: pretty;
  color: var(--clr-neutral-500);
}

.listItem + .listItem {
  margin-top: 0.75rem;
}

div.grid {
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media screen and (min-width: 48rem) {
  .videoWrapper {
    padding-bottom: 75%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 1.75rem;
  }
}

@media screen and (min-width: 60rem) {
  .videoWrapper {
    padding-bottom: 56.25%;
  }

  .grid {
    gap: 2rem;
  }
}
