.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--clr-white);
  z-index: var(--z-index-header);
}

.header.scrolled {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
