.header {
  text-align: center;
  padding-top: 4rem;
  margin-top: var(--header-height);
}

.heading {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  font-size: var(--fs-xxl);
  color: var(--clr-blue-200);
}

.subheading {
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  color: var(--clr-neutral-500);
  margin-top: 0.25rem;
}
