.sidebar {
  --anim-duration: 300ms;

  position: fixed;
  flex-direction: column;
  background-color: var(--clr-dark);
  gap: 0;
  top: 0;
  height: 100dvh;
  right: -100%;
  width: 100%;
  overflow: hidden;
  transition: right var(--anim-duration) ease-in-out;
}

.sidebar.active {
  right: 0;
}

.sidebar.active .navItem {
  opacity: 1;
  transform: translateX(0);
}

.sidebarContent {
  height: 100%;
  overflow-y: auto;
}

.nav {
  --index: 0;
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  z-index: var(--z-index-foreground);
}

.navList {
  padding-left: 1.5rem;
  margin: 5rem 0;
  z-index: var(--z-index-foreground);
}

.navList:hover ~ .gradientBackground {
  background-size: 4.5rem 4.5rem;
}

.navItem {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 250ms ease-in;
  transition-delay: calc(var(--anim-duration) + (var(--index) - 2.5) * 100ms);
}

.navItem + .navItem {
  padding-top: 2rem;
}

.itemLink {
  font-family: var(--ff-headings);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-xxl);
  color: var(--clr-lavender);
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 250ms ease-in-out;
}

.itemLink.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.itemLink:hover {
  opacity: 1;
}

.itemLink:active {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}

.gradientBackground {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 5%,
    transparent 5%
  );
  background-size: 5rem 5rem;
  background-position: 0 calc(var(--hovered-index) * -15%);
  position: absolute;
  inset: 0;
  z-index: var(--z-index-default);
  transition:
    background-size 400ms ease-in-out,
    background-position 400ms ease-in-out;
}

.openButton,
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.openButton {
  font-size: 2rem;
  color: var(--clr-dark);
}

.closeButton {
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  font-size: 2.5rem;
  color: var(--clr-lavender);
  border-radius: 50%;
  opacity: 0.7;
  z-index: var(--z-index-overlay);
  transition:
    transform 150ms ease-in-out,
    opacity 250ms ease-in-out;
}

.closeButton::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 150ms ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .closeButton:hover {
    opacity: 1;
  }

  .closeButton:hover::before {
    border-color: currentColor;
  }
}

.closeButton:active {
  transform: scale(0.8);
  top: 1.5rem;
  left: 1rem;
  padding: 0.5rem;
  opacity: 1;
  transition:
    opacity 100ms ease-in-out,
    transform 150ms ease-in-out;
}

.closeButton:active::before {
  transform: translate(-50%, -50%) scale(0.8);
}

@media screen and (min-width: 20rem) {
  .navList {
    padding-left: 2.5rem;
  }

  .closeButton {
    left: 2.5rem;
  }

  .closeButton:active {
    left: 2rem;
  }
}

@media screen and (min-width: 30rem) {
  .navList {
    padding-left: 3rem;
  }

  .closeButton {
    left: 3rem;
  }

  .closeButton:active {
    left: 2.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .navMobile {
    display: none;
  }
}
