.gradientBackground {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.5) 5%,
    transparent 5%
  );
  background-size: 5rem 5rem;
  background-position: 0 calc(var(--hovered-index) * -15%);
  position: absolute;
  inset: 0;
  z-index: var(--z-index-default);
  transition:
    background-size 400ms ease-in-out,
    background-position 400ms ease-in-out;
}

.nav {
  --index: 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  z-index: var(--z-index-foreground);
}

.navList {
  padding: 3rem;
  z-index: var(--z-index-foreground);
}

.navItem {
  padding: 1rem;
  opacity: 0;
  transform: translateX(100px);
  transition:
    transform 250ms ease-in,
    opacity 250ms ease-in;
  transition-delay: calc(var(--anim-duration) + (var(--index) - 2.5) * 100ms);
}

.navList:hover ~ .gradientBackground {
  background-size: 4.5rem 4.5rem;
}

.sidebar {
  --width: min(20rem, 100%);
  --anim-duration: 300ms;

  position: fixed;
  flex-direction: column;
  background-color: var(--clr-dark);
  gap: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  right: calc(-1 * var(--width));
  text-align: start;
  width: var(--width);
  transition: right var(--anim-duration) ease-in-out;
}

.sidebar.active {
  right: 0;
}

.sidebar.active .navItem {
  opacity: 1;
  transform: translateX(0);
}

.sidebar li {
  margin: 16px 0;
}

.itemLink {
  font-family: var(--ff-headings);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-turquoise);
  color: var(--clr-lavender);
  font-size: var(--fs-xl);
  text-decoration: none;
}

.itemLink.active {
  text-decoration: underline;
}

.nav:hover .itemLink {
  opacity: 0.5;
}

.nav:hover .itemLink:hover {
  opacity: 1;
}

.openButton,
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.openButton {
  font-size: var(--fs-lg);
  color: var(--clr-dark);
}

.closeButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: var(--fs-xl);
  color: rgb(220, 225, 232);
  color: var(--clr-lavender);
  border: 2px solid transparent;
  border-radius: 50%;
  z-index: var(--z-index-overlay);
  transition:
    transform 150ms ease-in-out,
    border-color 150ms ease-in-out;
}

.closeButton:active {
  transform: scale(0.8);
}

@media (hover: hover) and (pointer: fine) {
  .closeButton:hover {
    border: 2px solid currentColor;
  }
}

@media screen and (min-width: 48rem) {
  .navMobile {
    display: none;
  }
}
