:root {
  --clr-white: #fdfbfb;
  --clr-red: #ef4770;
  --clr-green: #0dd6c3;
  --clr-turquoise: #34daef;
  --clr-purple: #ae75db;
  --clr-dark: #161615;
  --clr-lavender: #f3e4ff;
  --clr-electric-blue: #1700fe;
  --clr-midnight-blue: #073758;
  --clr-light-gray: #9b9c9c;
  --clr-gray: #676a6a;
  --clr-dark-gray: #464749;
  --clr-white-overlay: #fdfbfb20;

  --ff-headings: 'Poppins', sans-serif;
  --ff-text: 'Inter', sans-serif;
  --ff-monospace: 'Courier New', Courier, monospace;

  --fs-xxl: 3rem;
  --fs-xl: 2rem;
  --fs-lg: 1.5rem;
  --fs-md: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.875rem;
  --fs-xxs: 0.75rem;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --z-index-background: -1;
  --z-index-default: 0;
  --z-index-foreground: 1;
  --z-index-overlay: 2;
  --z-index-header: 10;
  --z-index-menu: 100;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--ff-text);
  background-color: var(--clr-white);
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  :root {
    --fs-xxl: 3.5rem;
    --fs-xl: 2.5rem;
    --fs-lg: 1.75rem;
    --fs-md: 1.5rem;
    --fs-sm: 1.125rem;
    --fs-xs: 1rem;
    --fs-xxs: 0.875rem;
  }
}

@media (min-width: 768px) {
  :root {
    --fs-xxl: 4rem;
    --fs-xl: 3rem;
    --fs-lg: 2rem;
    --fs-md: 1.75rem;
    --fs-sm: 1.25rem;
    --fs-xs: 1.125rem;
    --fs-xxs: 1rem;
  }
}

@media (min-width: 992px) {
  :root {
    --fs-xxl: 4.5rem;
    --fs-xl: 3.5rem;
    --fs-lg: 2.5rem;
    --fs-md: 2rem;
    --fs-sm: 1.5rem;
    --fs-xs: 1.25rem;
    --fs-xxs: 1.125rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-xxl: 5rem;
    --fs-xl: 4rem;
    --fs-lg: 3rem;
    --fs-md: 2.25rem;
    --fs-sm: 1.75rem;
    --fs-xs: 1.5rem;
    --fs-xxs: 1.25rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
