.navList {
  display: none;
  padding: 1.25rem 0;
}

.navLink {
  position: relative;
  font-family: var(--ff-text);
  font-size: var(--fs-sm);
  color: var(--clr-gray);
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

.navLink::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 1.5rem;
  height: 1.5px;
  background-color: currentColor;
  border-radius: 0.125rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .navLink:hover {
    color: var(--clr-darkish-gray);
  }

  .navLink:hover::before {
    transform: scaleX(1);
  }
}

.navLink:active,
.navLink.active {
  color: var(--clr-darkish-gray);
}

.navLink.active::before {
  transform: scaleX(1);
}

@media screen and (min-width: 48rem) {
  .navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
